

$black: #000;
$dark-yellow: #D3A31A;
$light-brown: #8F5D00;
$orange:#FF3D00;
$dark-grey:#605F60;
$purple:#9D3E9A;
$white:#fff;
$green:#11B203;
$red:#D40404;
$orange: #F76B1CFA;
$gray: #605F60;
$light-gray: #F5F5F5;
$gray-01: #D9D9D9;