$black: #000;
$dark-yellow: #d3a31a;
$yellow-500: #f8b815;
$light-yellow: #f8eaa1;
$light-brown: #8f5d00;
$orange: #ff3d00;
$dark-grey: #605f60;
$purple: #9d3e9a;
$purple-dark: #991995;
$white: #fff;
$green: #11b203;
$green-two: #0a8100;
$red: #d40404;
$orange: #f76b1cfa;
$lightmud: #fff7cc;

$gray: #605f60;
$light-gray: #f5f5f5;
$mediumGray: #cccccc;
$gray-01: #d9d9d9;
$gray-02: #e7e7e780;
$gray-03: #5f6062;
$gray-04: #767272;
$gray-05: #707070;
$disable-grey: #e7e7e7;
