.astro-list {
    padding: 5rem;
    margin-top: -10rem;
    .astro-grid {
        background: #FFFFFF;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 0;
        position: relative;
        margin-bottom: 2.5rem;

        .content {

            padding: 2rem;
            padding-bottom: 0rem;

            span {
                display: flex;
                padding-bottom: 0.4rem;
                justify-content: center;

                &.purple {
                    color: $purple;
                    font-size: 22px;
                }

                &.black {
                    font-size: 18px;
                }

                &.bold {
                    font-weight: 700;
                }
            }
        }

        .button {
            display: flex;
            font-size: 16px;

            button {
                width: 50%;
                border: 0px;

                &.gold {
                    background: linear-gradient(180deg, #DEB94E 0%, #F8EAA1 30.56%, #F8E998 50%, #E0BB51 100%);
                    color: $black;
                    border-bottom-left-radius: 5px;
                    padding-top: 0.5rem;

                    &::before {
                        content: url('./../../../../public/messages.png');
                        padding-right: 0.5rem;
                        vertical-align: middle;
                    }
                }

                &.orange {
                    background: $orange;
                    color: $white;
                    padding-top: 0.5rem;
                    border-bottom-right-radius: 5px;

                    &::before {
                        content: url('./../../../../public/call-white.svg');
                        padding-right: 0.5rem;
                        vertical-align: middle;

                    }
                }
            }
        }

        .status {
            position: absolute;
            top: 10px;
            right: 25px;

            span {
                font-size: 14px;
                color: #fff;
                padding: 0.2rem 1rem;
                border-radius: 36px;

                &.online {
                    background-color: $green;
                }

                &.offline {
                    background-color: $red;

                }

                &.busy {
                    background-color: $dark-yellow;

                }
            }
        }

    }
}