.password
{
    .content 
    {
        .right-content 
        {
                .content-wrap 
                {
                    p 
                    {
                        span 
                        {
                           color:$black;
                        }
                    }
                    .form 
                    {
                        .form-wrap 
                        {
                            .continue-btn 
                            {
                              button 
                              {
                                margin-top: 2rem;
                            padding: 0.5rem 4rem;
                              }
                            }
                        }
                    }
                }

        }
    }
}