.password
{
    .content 
    {
        .right-content 
        {
                .content-wrap 
                {
                    margin-top: 2rem;
                    .form 
                    {
                        .form-wrap 
                        {
                           .form-check
                           {
                            padding: 0.0rem 1.5rem;
                            margin-top: 0.5rem;
                           }
                           .input-wrap
                           {
                            margin-top: 1rem;
                           }
                        }
                    }
                }

        }
    }
}