@import './../base/variable';

.navbar-nav {
  a {
    font-size: 12px;
    padding: 0;
    font-weight: normal;
  }
}

.nav {
  &-link {
    font-size: 12px;
    color: $black;
    margin-right: 1rem;
    position: relative;
    font-weight: 600;
    display: flex;
    align-items: center;

    &::before {
      padding-right: 0.5rem;
    }

    &:hover {
      color: $dark-yellow;
    }

    &.button {
      border: 1px solid $dark-yellow;
      border-radius: 30px;

      &:hover {
        transition: all 0.3s;
        color: $black;
        //background: linear-gradient(180deg, #DEB94E 0%, #F8EAA1 33.68%, #F8E998 44.1%, #DDB84E 100%);
      }


      &-chat {
        &::before {
          background-image: url('./../../../../public/messages.png');
          content: "";
          background-size: 17px 22px;
          display: inline-block;
          width: 17px;
          height: 22px;
          background-repeat: no-repeat;
          margin-right: 6px;
        }
      }

      &-call {
        &::before {
          background-image: url('./../../../../public/call.png');
          content: "";
          background-size: 17px 22px;
          display: inline-block;
          width: 17px;
          height: 22px;
          background-repeat: no-repeat;
          margin-right: 6px;
        }
      }

      &-services {
        &::before {
          background-image: url('./../../../../public/services.png');
          content: "";
          background-size: 25px 24px;
          display: inline-block;
          width: 22px;
          height: 22px;
          background-repeat: no-repeat;
          margin-right: 6px;
        }
      }

      &-helpline {
        &::before {
          background-image: url('./../../../../public/phone.png');
          content: "";
          background-size: 17px 22px;
          display: inline-block;
          width: 17px;
          height: 22px;
          background-repeat: no-repeat;
          margin-right: 6px;
        }

        >span {
          display: flex;
          flex-flow: column;
        }
      }

      &-product {
        &::before {
         
          background-image: url('./../../../../public/product.png');
          content: "";
          background-size: 23px 22px;
          display: inline-block;
          width: 22px;
          height: 22px;
          background-repeat: no-repeat;
          margin-right: 6px;
        }
      }

      &-signup {
        &::before {
          background-image: url('./../../../../public/signup.svg');
          content: "";
          background-size: 22px 22px;
          display: inline-block;
          width: 22px;
          height: 22px;
          background-repeat: no-repeat;
          margin-right: 6px;
        }
      }

      &-login {
        &::before {
          background-image: url('./../../../../public/login.png');
          content: "";
          background-size: 22px 22px;
          display: inline-block;
          width: 22px;
          height: 22px;
          background-repeat: no-repeat;
          margin-right: 6px;
        }
      }
    }

  }

  &bar-brand {
    img {
      width: 90px;
    }
  }

  &bar-nav {
    // flex-grow: inherit;
    margin-left: auto;
  }
}