@import './../base/variable';

.carousel-item {
  // width: 50%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  
}
.card {
  background-color: $orange;
  padding: 2rem;
  border: none;
  width: 300px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
}
.carousel-control-prev, .carousel-control-next {
  opacity: 1;
  width: auto;
}
.carousel-control-prev {
  left: 0;
  width: auto;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
  border: 5px solid #D3A31A;
  
  border-radius: 50%;
  width: 50px;
  height: 50px;
  opacity: 1;
}
.carousel-control-prev-icon {
  background-image: url('./../../../../public/red-arrow-left.png');
  background-repeat: no-repeat;
  background-size: 50% 50%;
  background-color: $white;
  background-position: 35%;
}
.carousel-control-next-icon {
  background-image: url('./../../../../public/red-arrow-left.png');
  background-repeat: no-repeat;
  transform: rotate(180deg);
  background-size: 50% 50%;
  background-color: $white;
  background-position: 35%;
}


.testimonial {
  padding-bottom: 5rem;
  .carousel-inner {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .carousel-item {
    float: none;
    margin-right: -33%;
    width: 33%;
    display: block;
    /* position: initial; */
    backface-visibility: unset;
    flex: 0 0 auto;
  }
  .carousel-item.active {
    // float: right;
    text-align: center;
    transform: unset;
  }
  .carousel-indicators [data-bs-target] {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-color: $gray-01;
  }

  .carousel-indicators .active {
    background-color: $dark-yellow;
  }
  .carousel-control-prev, .carousel-control-next {
    display: none;
  }
}